<app-breadcrumbs></app-breadcrumbs>
YOY {{ currentEmployees | json }}
<section class="forms">
  <div class="container-fluid">
    <!-- Page Header-->
    <header>
      <h1 class="h3 display">Employees </h1>
      <div style="float: right; margin-top: -40px">
        <button class="btn btn-primary mr-1" (click)="saveEmployee()">Save</button>
        <button class="btn btn-warning" (click)="backToList()">Back</button>
      </div>
    </header>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h4>Personal details</h4>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <div class="form-group">
                <label>Employee Code</label>
                <div class="form-inline">
                  <div class="form-group mr-1">
                    <input type="text" [(ngModel)]="currentEmployees.employeeId"
                      placeholder="Employee Code" name="employeecode" class="form-control" #employeecode="ngModel">
                  </div>
                  <div class="form-group mr-1">
                    <input type="text" [(ngModel)]="currentEmployees.personalDetails.dob"
                      placeholder="Employee date of birth" name="employeedob" class="form-control" #employeedob="ngModel">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Employee Name</label>
                <div class="form-inline">
                  <div class="form-group mr-1">
                    <app-salutation [salutation]="currentEmployees.name.salutation"></app-salutation>
                  </div>
                  <div class="form-group mr-1">
                    <input type="text" placeholder="First Name" name="firstName" class="form-control"
                      [(ngModel)]="currentEmployees.name.firstName" #firstName="ngModel">
                  </div>
                  <div class="form-group mr-1">
                    <input type="text" placeholder="Last Name" name="lastName" class="form-control"
                      [(ngModel)]="currentEmployees.name.lastName" #lastName="ngModel">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Fathers Name</label>
                <div class="form-inline">
                  <div class="form-group mr-1">
                    <app-salutation
                      [salutation]="currentEmployees.personalDetails.nameOfFather.salutation">
                    </app-salutation>
                  </div>
                  <div class="form-group mr-1">
                    <input type="text" placeholder="First Name" name="fathersFirstName" class="form-control"
                      [(ngModel)]="currentEmployees.personalDetails.nameOfFather.firstName"
                      #fathersFirstName="ngModel">
                  </div>
                  <div class="form-group mr-1">
                    <input type="text" placeholder="Last Name" name="fathersLastName" class="form-control"
                      [(ngModel)]="currentEmployees.personalDetails.nameOfFather.lastName"
                      #fathersLastName="ngModel">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h4>Compensation - Earnings</h4>
            </div>
            <div class="card-body">
              <label for="basicpay">Basic</label>
              <input class="mt-1 form-control" placeholder="Basic pay" type="text" name="basicpay" id="basicpay"
                [(ngModel)]="currentEmployees.employmentDetails.compensationDetails.basicPay"
                #basicpay="ngModel">
              <label for="hrapay">HRA</label>
              <input class="mt-1 form-control" placeholder="HRA" type="text" name="hrapay" id="hrapay"
                [(ngModel)]="currentEmployees.employmentDetails.compensationDetails.hra"
                #hrapay="ngModel">
              <label for="conveyancepay">Conveyance</label>
              <input class="mt-1 form-control" placeholder="Conveyance" type="text" name="conveyancepay" id="conveyancepay"
                [(ngModel)]="currentEmployees.employmentDetails.compensationDetails.conveyance"
                #conveyancepay="ngModel">
              <label for="specialallowancepay">Special Allowance</label>
              <input class="mt-1 form-control" placeholder="Basic pay" type="text" name="specialallowancepay" id="specialallowancepay"
                [(ngModel)]="currentEmployees.employmentDetails.compensationDetails.specialAllowance"
                #specialallowancepay="ngModel">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h4>Compensation - Deductions</h4>
            </div>
            <div class="card-body">
                <label for="tdspay">TDS</label>
                <input class="mt-1 form-control" placeholder="TDS" type="text" name="tdspay" id="tdspay"
                [(ngModel)]="currentEmployees.employmentDetails.compensationDetails.tds"
                #tds="ngModel">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h4>Address</h4>
            </div>
            <div class="card-body address-padding-bottom">
              <label for="address1">Street address 1</label>
              <input class="mt-1 form-control" placeholder="Street address 1" type="text" name="address1" id="address1"
                [(ngModel)]="currentEmployees.address.streetAddress1" #address1="ngModel">
              <label for="address2">Street address 2</label>
              <input class="mt-1 form-control" placeholder="Street address 2" type="text" name="address2" id="address2"
                [(ngModel)]="currentEmployees.address.streetAddress2" #address2="ngModel">
              <label for="address2">City</label>
              <input class="mt-1 form-control" placeholder="City" type="text" name="city" id="city"
                [(ngModel)]="currentEmployees.address.city" #city="ngModel">
              <app-countries></app-countries>
              <app-state></app-state>
              <label for="pincode">Pin Code</label>
              <input class="mt-1 form-control" placeholder="Pin code" type="text" name="pincode" id="pincode"
                [(ngModel)]="currentEmployees.address.pinCode" #pincode="ngModel">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h4>Employment details</h4>
            </div>
            <div class="card-body">
              <app-designation [designation]="currentEmployees.employmentDetails.designation">
              </app-designation>
              <label for="dateOfJoining">Date Of Joining</label>
              <input class="mt-1 form-control" placeholder="Date of joining" type="text" name="dateOfJoining"
                id="dateOfJoining" [(ngModel)]="currentEmployees.employmentDetails.dateOfJoining"
                #dateOfJoining="ngModel">
              <label for="bankName">Bank Name</label>
              <input class="mt-1 form-control" placeholder="Bank name" type="text" name="bankName" id="bankName"
                [(ngModel)]="currentEmployees.employmentDetails.compensationDetails.bankName"
                #bankName="ngModel">
              <label for="accountNumber">Account Number</label>
              <input class="mt-1 form-control" placeholder="Account number" type="text" name="accountNumber"
                id="accountNumber"
                [(ngModel)]="currentEmployees.employmentDetails.compensationDetails.accountNumber"
                #accountNumber="ngModel">
              <label for="leaveBalance">Leave Balance</label>
              <input class="mt-1 form-control" placeholder="Leave balance" type="text" name="leaveBalance"
                id="leaveBalance" [(ngModel)]="currentEmployees.leaveDetails.leaveBalance"
                #leaveBalance="ngModel">
              <label for="leaveTaken">Leave Taken</label>
              <input class="mt-1 form-control" placeholder="Leave taken" type="text" name="leaveTaken" id="leaveTaken"
                [(ngModel)]="currentEmployees.leaveDetails.leaveTaken" #leaveTaken="ngModel">
              <label for="pan">Pan</label>
              <input class="mt-1 form-control" placeholder="PAN" type="text" name="pan" id="pan"
                [(ngModel)]="currentEmployees.personalDetails.pan" #pan="ngModel">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
